<div class="user-details">
  <h1> About Me </h1>
  <p>HI! I am a researcher at <a href="https://www.supcon.com/" target="_blank">Supcon</a> working on enterprise intelligence. Our team aims to build enterprise-grade intelligent systems with hypergraph models to enable steady and controllable business growth, including:</p>
  <p class="product-links-line">
    <a href="https://mp.weixin.qq.com/s/6pcpuERytSw9QfyHAfg05w" target="_blank" class="product-link product-qa">数据智能体</a>
    <a href="https://mp.weixin.qq.com/s/2-v1LCX-zkpS-XoV1TnJ1A" target="_blank" class="product-link product-meeting">会议智能体</a>
    <a href="https://mp.weixin.qq.com/s/UiZ2xNETnbmTXz9YTXPLdQ" target="_blank" class="product-link product-bidding">标书智能体</a>
    <a href="https://mp.weixin.qq.com/s/5oidw2XT_ggqMYylsnM4hA" target="_blank" class="product-link product-sales">销售智能体</a>
    <a href="https://mp.weixin.qq.com/s/fgFIfPRGlMXXy8XzCBC8XA" target="_blank" class="product-link product-procurement">采购智能体</a>
    <a href="https://mp.weixin.qq.com/s/fgFIfPRGlMXXy8XzCBC8XA" target="_blank" class="product-link product-hr">人力智能体</a>
    <a href="https://mp.weixin.qq.com/s/VBp7ROd7Miznki3ob99_4Q" target="_blank" class="product-link product-efficiency">效率派</a>
  </p>
  
  <p>My research work mainly focuses on using (hyper-)graph, ontology and large language models (LLMs)  to encapsulate enterprise knowledge, business entities, and operational logic, enabling structured reasoning and task planning while preserving explainability and execution determinism, with a focus on retrieval-augmented generation (RAG) methods and graph foundation models.</p>
  
  <p>Before joining Supcon, I received my Ph.D. from <a href="https://www.tsinghua.edu.cn/" target="_blank">Tsinghua University</a> in 2025, advised by <a href="https://iiis.tsinghua.edu.cn/rydw/qzjs/xuwei.htm" target="_blank">Prof. Wei Xu</a>, where I worked on fraud detection, multi-party computation, graph algorithms, and graph neural networks. The pursuit of my Ph.D. degree was greatly supported by my advisor, mentors, friends and family ❤️.</p>
  
  <p>Please feel free to contact me! <a href="mailto:liuxin4@supcon.com">liuxin4@supcon.com</a>; <a href="mailto:greenliuxin@163.com">greenliuxin@163.com</a></p>
</div>
