<div class="user-details">
  <h1> Service </h1>
</div>
<div class="row">
  <div class="col">
    <table>
      <tbody>
      {% for item in site.data.service %}
        <tr>
          <td>
            <strong>{{item.title}}</strong>
            {% if item.session %}
              - {{item.session}} Session
            {% endif %}
            , {{item.venue}}
            {% if item.date %}
              ({{item.date}})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
