<footer class="footer">
  <p>
    &copy; {{'now'|date: "%Y"}} {{site.username}}.
  </p>
  <p>
    <span id="busuanzi_container_site_pv">
      Visitor Number: <span id="busuanzi_value_site_pv"></span>
    </span>
  </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>