<div class="cover-card table-cell table-bottom">
  {% if site.avatar %}
  <img class="avatar" src="{{site.avatar | prepend: site.baseurl}}" alt="{{site.username}}">
  {% endif %}
  <h1>
    <span class="site-title"><a href="/">{{site.username}}</a></span>
  </h1>
  <p class="body">{{site.user_title}}</span>
  <div class="header-icons body">
    <a aria-label="Send email" target="_blank" href="mailto: {{site.email}}">
      <i class="icon fa fa-envelope"></i>
    </a>
    {% if site.github %}
    <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github}}">
      <i class="icon fa fa-github" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if site.scholar %}
    <a aria-label="Google Scholar" target="_blank" href="{{site.scholar}}">
      <i class="icon fa fa-graduation-cap" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>
  <p class="body copyright">
    &copy; {{'now'|date: "%Y"}}. All rights reserved.
  </p>
  <p class="body copyright visitor-counter">
    <span id="busuanzi_container_site_pv">
      Visitor Number: <span id="busuanzi_value_site_pv"></span>
    </span>
  </p>
</div>
